#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: rgb(140, 157, 175);
    color: rgb(38, 43, 56);
    font-family: "Josefin Sans", sans-serif;;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

img {
  width: 100%;
}

a {
  color: inherit; /* Inherits the color from its parent element */
  text-decoration: none; /* Removes underline */
  background-color: transparent; /* Ensures no background change */
  font-family: inherit; /* Inherits the font from its parent */
  font-size: inherit; /* Inherits the font size from its parent */
  cursor: default; 
  cursor: pointer;
}

 .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
