.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #4c59b1aa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }

.header {
  display: flex;        /* Enables flexbox layout */
  align-items: center;  /* Vertically centers the items in the container */
  justify-content: space-between; /* Spreads the name and the nav apart */
  padding: 0.5em;      /* Optional: Adds some padding around the items */
}

#name {
  margin: 0;           /* Removes margin from the h1 for better control */
  font-size: 1.5em;    /* Adjust the size as needed */
}

.nav-link {
    display: inline-block;
    position: relative;
    color: #000; /* Change as needed */
    text-decoration: none;
    overflow: hidden; /* Ensures the pseudo-elements are clipped */
    vertical-align: top;      /* Adds padding around the link text */
}

.nav-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #3498db; /* Change the color as needed */
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover::before {
    color: #1e313e;
    visibility: visible;
    width: 100%;
    left: 0;
}